.text-type {
  display: inline-flex;
  align-items: baseline;
}

.text-type__content {
  white-space: pre-wrap;
}

.text-type__cursor {
  display: inline-block;
  margin-left: 0.15em;
}

.text-type__cursor--hidden {
  opacity: 0;
}
